apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello
spec:
  template:
    spec:
      containers:
      - name: hello
        env:
          - name: PORT
            value: "8080"
          - name: TARGET
            value: "Local cluster"
    